/*---
| COLOR SCHEME
---*/
a {
  color: #d35400;
}
a:hover,
a:focus {
  color: #a04000;
}
.list-border li {
  border-left: 5px solid #d35400;
}
.list-chevron li:before {
  color: #d35400;
}
.table-hover tbody tr:hover > th,
.table-hover tbody tr:hover > td {
  background-color: #d35400;
}
.price-list li.important {
  color: #d35400;
}
.flash {
  background-color: #d35400;
}
.btn-primary {
  background-color: #d35400;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: #ba4a00;
}
.box.border-top {
  border-top: 5px solid #d35400;
}
.box.border-right {
  border-right: 5px solid #d35400;
}
.box.border-bottom {
  border-bottom: 5px solid #d35400;
}
.box.border-left {
  border-left: 5px solid #d35400;
}
.panel.border-top {
  border-top: 5px solid #d35400;
}
.panel.border-right {
  border-right: 5px solid #d35400;
}
.panel.border-bottom {
  border-bottom: 5px solid #d35400;
}
.panel.border-left {
  border-left: 5px solid #d35400;
}
.panel-navigation a:hover {
  background-color: #d35400;
  border-color: #d35400;
}
.panel-navigation a:hover .toggle {
  color: #d35400;
}
.header .top a:hover {
  color: #d35400;
}
.search #autocomplete-results ul {
  border-left: 5px solid #d35400;
}
.search #autocomplete-results ul li.active a {
  background-color: #d35400;
}
.mini-cart a > span {
  background-color: #d35400;
}
.main-menu > li:hover > a,
.main-menu > li > a:hover {
  color: #d35400;
}
.main-menu ul {
  border-top: 5px solid #d35400;
}
.main-menu ul a:hover {
  background-color: #d35400;
}
.breadcrumb a:hover,
.breadcrumb a:focus {
  color: #d35400;
}
.tweet_list .tweet a:hover {
  color: #d35400;
}
.footer .links a:hover,
.footer .links a:focus {
  color: #d35400;
}
.footer .twitter .tweet_list li .text .tweet_time a:hover,
.footer .twitter .tweet_list li .text .tweet_time a:focus {
  color: #d35400;
}
.category .sidebar .children .title a:hover {
  color: #d35400;
}
.category .sidebar .category-list a:hover,
.category .sidebar .category-list a:focus {
  background-color: #d35400;
}
.category .sidebar .category-list a:hover .count,
.category .sidebar .category-list a:focus .count {
  color: #d35400;
}
.category .sidebar .price-filter .ui-slider .ui-slider-range {
  background-color: #d35400;
  border-top: 1px solid #a04000;
  border-bottom: 1px solid #a04000;
}
.category .sidebar .price-filter #slider-label strong {
  color: #d35400;
}
.product-list a:hover .title .rating {
  color: #d35400;
}
.product-list a .image .badge-sale {
  background-color: #d35400;
}
.product-list a .image .badge-sale:after {
  border-color: #6d2b00 transparent transparent transparent;
}
.product-list a .title .prices .price {
  color: #d35400;
}
.product-list-small .image a:hover {
  border-color: #d35400;
}
.product-list-small .desc h6 a:hover {
  color: #d35400;
}
.product-list-small .desc .rating a:hover {
  color: #d35400;
}
.product-list-small li:hover .desc .rating {
  color: #d35400;
}
.ratings-small li:hover .desc .rating {
  color: #d35400;
}
.flexslider .flex-progress span {
  background-color: #d35400;
}
.caption h3 {
  background-color: #d35400;
}
.jcarousel-controls .carousel-control-prev:hover,
.jcarousel-controls .carousel-control-next:hover,
.jcarousel-controls .carousel-control-prev:focus,
.jcarousel-controls .carousel-control-next:focus {
  background-color: #d35400;
}
.product-info .product-content #product .details .prices .price {
  color: #d35400;
}
.product-info .product-content #product .details .meta .categories a:hover {
  color: #d35400;
}
.product-info .product-images .thumbs .thumbs-list li a:hover {
  border-color: #d35400;
}
.product-info .product-images .thumbs .thumbs-list li a.active {
  border-color: #d35400;
}
.product-reviews h5 .script {
  color: #d35400;
}
.nav-tabs {
  border-bottom: 5px solid #d35400;
}
.nav-tabs li a:hover {
  color: #d35400;
}
.nav-tabs li.active > div,
.nav-tabs li.active a,
.nav-tabs li.active a:hover,
.nav-tabs li.active a:active,
.nav-tabs li.active a:focus {
  background-color: #d35400;
}
.nav-tabs.nav-stacked > li > a:hover,
.nav-tabs.nav-stacked > li > a:active,
.nav-tabs.nav-stacked > li > a:focus {
  border-bottom: 1px solid #d35400;
  background-color: #d35400;
}
.nav-tabs.nav-stacked li.active a {
  color: #d35400;
}
.cart-items .col_product .image a:hover,
.cart-items .col_product .image a:focus {
  border-color: #d35400;
}
.cart-items .col_product h5 a:hover,
.cart-items .col_product h5 a:focus {
  color: #d35400;
}
.cart-items .col_product .options li:before,
.cart-items .col_product .extras li:before {
  color: #d35400;
}
.options-panel .options-panel-toggle a {
  background-color: #d35400;
}
.label-sale {
  background-color: #d35400;
}
.widget {
  border-top: 5px solid #d35400;
}
.widget.Categories a:hover,
.widget.Menu a:hover,
.widget.Categories a:focus,
.widget.Menu a:focus {
  background-color: #d35400;
}
.widget.Categories a:hover .count,
.widget.Menu a:hover .count,
.widget.Categories a:focus .count,
.widget.Menu a:focus .count {
  color: #d35400;
}
.adverts a:hover {
  border-color: #d35400;
}
.megamenu_container .megamenu > li > a:hover {
  color: #d35400;
}
.megamenu_container .megamenu > li.megamenu_button a {
  background-color: #d35400;
}
.megamenu_container .megamenu .contact_form .required {
  color: #d35400;
}
.megamenu_container .megamenu .contact_form .button:first-child {
  background-color: #d35400;
}
.megamenu_container .megamenu .contact_form .button.btn-primary {
  background-color: #d35400;
}
.megamenu_container .megamenu .contact_form .button.btn-primary:hover,
.megamenu_container .megamenu .contact_form .button.btn-primary:focus,
.megamenu_container .megamenu .contact_form .button.btn-primary:active {
  background-color: #ba4a00;
}
.megamenu_container.megamenu_light .megamenu li .dropdown_container,
.megamenu_container.megamenu_light .megamenu li .dropdown_fullwidth,
.megamenu_container.megamenu_light .megamenu li .dropdown_flyout li ul {
  border-top: 5px solid #d35400;
}
.megamenu_container.megamenu_light .megamenu > li > div a,
.megamenu_container.megamenu_light .megamenu li ul li,
.megamenu_container.megamenu_light .megamenu li ol li {
  color: #333;
}
.megamenu_container.megamenu_light .megamenu > li > div a:hover,
.megamenu_container.megamenu_light .megamenu li ul li:hover,
.megamenu_container.megamenu_light .megamenu li ol li:hover {
  color: #d35400;
}
.megamenu_container.megamenu_light .megamenu > li > div a.btn,
.megamenu_container.megamenu_light .megamenu li ul li.btn,
.megamenu_container.megamenu_light .megamenu li ol li.btn {
  color: #ffffff !important;
}
.megamenu_container.megamenu_light .megamenu > li > div a.btn:hover,
.megamenu_container.megamenu_light .megamenu li ul li.btn:hover,
.megamenu_container.megamenu_light .megamenu li ol li.btn:hover {
  color: #ffffff;
}
@media (max-width: 767px) {
  .megamenu_container .megamenu > li > a:hover {
    color: #ffffff;
    background-color: #d35400;
  }
}
